* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
input {
  outline: none;
  border: none;
}

body {
  text-align: center;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: white;
  background-color: #757575;
}
.container {
  padding: 30px;
  // min-width: fit-content

  @media only screen and (min-width: 600px) {
    max-width: 1100px;
    margin: 0 auto;
  }
}
.hero {
  font-size: 28px;
  line-height: 1.1;
}
.typography {
  font-size: 18px;
  font-weight: 400;
  margin: 10px auto;
}
